Repository Yury-Learn/ansible-practice: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-job-3_10, test-job-3_10, build-job-4_12, test-job-4_12

build-job-3_10:
  stage: build
  script:
  - microdnf -y install sshpass
  - ansible-galaxy collection install community.mysql
  - pip install pymysql mysql-connector-python
  - cd practice/3_10/
  - molecule create
  - molecule converge

test-job-3_10:
  stage: test
  script:
  - microdnf -y install sshpass
  - cd practice/3_10/
  - molecule create
  - molecule verify

build-job-4_12:
  stage: build
  script:
  - microdnf -y install sshpass
  - ansible-galaxy collection install community.mysql
  - pip install pymysql mysql-connector-python
  - cd practice/4_12/
  - molecule create
  - molecule converge

test-job-4_12:
  stage: test
  script:
  - microdnf -y install sshpass
  - ansible-galaxy collection install community.mysql
  - cd practice/4_12/
  - molecule create
  - molecule verify

Feat: fixed playbook for centos to adapt to 9
  3.other-systems-and-stacks/7.Python/files/app/requirements.txt
  3.other-systems-and-stacks/7.Python/playbook-centos.yml
  3.other-systems-and-stacks/7.Python/requirements.yml
  3.other-systems-and-stacks/7.Python/roles/nginx/tasks/centos.yml
Due: none

next
  practice/3_10/hosts.ini
  practice/3_10/playbook.yml
Due: build-job-3_10, test-job-3_10

next
  practice/3_10/playbook.yml
Due: build-job-3_10, test-job-3_10

next
  practice/3_10/hosts.ini
  practice/3_10/playbook.yml
  practice/3_10/roles/mysql/defaults/main.yml
  practice/3_10/roles/mysql/tasks/install_centos.yml
  practice/3_10/roles/mysql/tasks/install_ubuntu.yml
  practice/3_10/roles/mysql/tasks/main.yml
  practice/3_10/roles/nginx/tasks/centos.yml
  practice/3_10/roles/php/defaults/main.yml
  practice/3_10/roles/php/files/test-php/php_test/phpinfo.php
  practice/3_10/roles/php/tasks/centos.yml
  practice/3_10/roles/php/tasks/ubuntu.yml
  practice/3_10/roles/php/templates/nginx.centos.conf.j2
  practice/3_10/roles/php/templates/nginx.conf.j2
Due: build-job-3_10, test-job-3_10

next
  practice/3_10/molecule/default/create.yml
Due: build-job-3_10, test-job-3_10

next
  practice/3_10/hosts.ini
Due: build-job-3_10, test-job-3_10

fix 3-10
  practice/3_10/hosts.ini
  practice/3_10/playbook.yml
  practice/3_10/roles/php/tasks/centos.yml
Due: build-job-3_10, test-job-3_10

next
  practice/3_10/molecule/default/verify.yml
  practice/3_10/playbook.yml
Due: build-job-3_10, test-job-3_10

next
  practice/3_10/hosts.ini
  practice/3_10/roles/php/tasks/ubuntu.yml
Due: build-job-3_10, test-job-3_10

fix 4_12
  3.other-systems-and-stacks/7.Python/ansible.cfg
  3.other-systems-and-stacks/7.Python/files/app/__init__.py
  3.other-systems-and-stacks/7.Python/playbook-centos.yml
  3.other-systems-and-stacks/7.Python/playbook-fix-ubuntu.yml
  3.other-systems-and-stacks/7.Python/playbook-fix.yml
  3.other-systems-and-stacks/7.Python/templates/service.service.j2
Due: none

fix
  practice/4_12/files/app/requirements.txt
Due: build-job-4_12, test-job-4_12

Add /ansible/hosts.ini
  ansible/hosts.ini
Due: none

Change hosts.ini
  ansible/hosts.ini
Due: none

Change hosts.ini & add playbook.yaml
  ansible/hosts.ini
  ansible/playbook.yaml
Due: none

Install nginx - playbook
  ansible/hosts.ini
  ansible/playbook.yaml
Due: none

Change playbook - folder
  ansible/playbook.yaml
Due: none

Update playbook.yaml
  ansible/playbook.yaml
Due: none

root password
  ansible/playbook.yaml
Due: none

Nginx conf
  ansible/playbook.yaml
Due: none

закомментил 0644
  ansible/playbook.yml
  ansible/roles/nginx/tasks/main.yml
  ansible/roles/php/tasks/main.yml
Due: none

Path conditions:
  build-job-3_10: any of: practice/3_10/**/*
  test-job-3_10: any of: practice/3_10/**/*
  build-job-4_12: any of: practice/4_12/**/*
  test-job-4_12: any of: practice/4_12/**/*
